.scene-manager {
  position: absolute;
  inset: 0;
  z-index: 10;
  overflow: hidden;
  pointer-events: none; /* Let events fall through unless interactive in scene */
}

.scene-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: auto; /* Re-enable pointer events inside active scene wrapper */
}
